body {
    font-family: "Consolas", sans-serif;
    background-color: black;
}

.card {
    border-radius: 5px;
}

#temp {
    font-size: 25px;
}

.container {  
    padding: 20px;
}

.principal h1, h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
}

.cards {
    display: flex;
    padding: 30px;
    justify-content: center;
    gap: 20px;     
    flex-wrap: wrap; /* Para que las tarjetas se envuelvan en pantallas más pequeñas */
}

#tempTemperatura, #tempOxigeno, #tempPH {
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 10px;
    background: linear-gradient(to right, #e6e6e6, #bebebe);
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity .2s;
    margin-bottom: 20px;
}

#tempTemperatura::-webkit-slider-thumb, 
#tempOxigeno::-webkit-slider-thumb, 
#tempPH::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #9b9c9e;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background .2s;
}

#tempTemperatura:focus::-webkit-slider-thumb, 
#tempOxigeno:focus::-webkit-slider-thumb, 
#tempPH:focus::-webkit-slider-thumb {
    background: #515152;
}

#tempTemperatura::-moz-range-thumb, 
#tempOxigeno::-moz-range-thumb, 
#tempPH::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #007bff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: background .2s;
}

#tempTemperatura:focus::-moz-range-thumb, 
#tempOxigeno:focus::-moz-range-thumb, 
#tempPH:focus::-moz-range-thumb {
    background: #0056b3;
}

#timeTemp {
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: #0a0a0a;
    color: #ffffff;
}

.card .material-symbols-outlined {
    font-size: 30px;
    text-align: center;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.slider-labels span {
    font-size: 24px;
    color: #ffffff;
}




/*portátiles*/ 
@media (min-width: 768px) and (max-width: 1199px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 700px;
        margin: 10px 0;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 700px;
        margin: 10px 0;
    }

    #tempTemperatura, #tempOxigeno, #tempPH {
        width: 100%;
    }

    .slider-labels {
        width: 100%;
    }
    #tempTemperatura, #tempOxigeno, #tempPH {
        width: 100%;
    }

    .slider-labels {
        width: 100%;
    }
    #temp {
        font-size: 20px;
    }

    #timeTemp {
        font-size: 1.2em;
    }

    .slider-labels span {
        font-size: 20px;
    }
}

/*teléfonos*/ 
@media (max-width: 767px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 700px;
        margin: 10px 0;
    }

    #tempTemperatura, #tempOxigeno, #tempPH {
        width: 100%;
    }

    .slider-labels {
        width: 100%;
    }
    #temp {
        font-size: 20px;
    }

    #timeTemp {
        font-size: 1.2em;
    }

    .slider-labels span {
        font-size: 20px;
    }
}

/*teléfonos muy pequeños */ 
@media (max-width: 480px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 700px;
        margin: 10px 0;
    }

    #tempTemperatura, #tempOxigeno, #tempPH {
        width: 100%;
    }

    .slider-labels {
        width: 100%;
    }
    #temp {
        font-size: 20px;
    }

    #timeTemp {
        font-size: 1.2em;
    }

    .slider-labels span {
        font-size: 20px;
    }
}